.counter-container {
  display: flex;
  flex-direction: row;
}

.counter-edit-text {
  width: 30px;
  height: 30px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
