.footer-container {
  width: 100%;
}

.footer-address {
  width: 100%;
  height: 200px;
  padding: 30px 200px 50px 200px;
  color: white;
  display: flex;
  flex-direction: row;
  background-color: #394b59;
}

.footer-detail {
  width: 100%;
  height: 300px;
  padding: 30px 200px 10px 200px;
  display: flex;
  flex-direction: row;
}

.footer-text-bold {
  font-size: 14px;
  font-weight: 600px;
  margin-bottom: 10px;
}

.footer-text-regular {
  font-size: 12px;
}

.footer-detail-part {
  width: 15%;
  height: 100%;
  margin-right: 30px;
}

.footer-detail-part-large {
  width: 25%;
  height: 100%;
  margin-right: 30px;
}
