.container {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.image {
  width: 100%;
  margin-top: 50px;
  cursor: pointer;
}

.main-header-container {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header-logo {
  width: auto;
  height: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.input-container {
  width: 30%;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-header {
  margin-right: 10px;
}

.slideshow-container {
  position: relative;
}

.slideshow {
  position: absolute;
  height: 500px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.categories-container {
  position: absolute;
  height: 100px;
  width: 100px;
}

.list-product-container {
  width: 150px;
  height: 380px;
  border-radius: 8px;
  top: 20px;
  left: 200px;
  z-index: 10;
  font-size: 13px;
  font-weight: 500;
  color: #2d2d2d;
  position: absolute;
}

.list-detail-container {
  width: 950px;
  height: 380px;
  top: 20px;
  left: 300px;
  z-index: 9;
  border-radius: 8px;
  padding-left: 100px;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
}

.list-detail {
  width: 850px;
  height: 380px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.list-detail-product-container {
  width: 70%;
  padding: 10px 15px 10px 15px;
}

.list-detail-image-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.list-detail-image {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 80px;
}

.sub-list-slideshow {
  width: 260px;
  height: 120px;
  right: 200px;
  z-index: 8;
  border-radius: 8px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;
  background-size: cover;
  cursor: pointer;
}

.sub-list-slideshow:hover {
  transform: scale(1.2);
}

.sub-container {
  padding: 0 200px 50px 200px;
  background-color: #f0f0f0;
}

.image-ads {
  width: 100%;
  margin-top: 50px;
  border-radius: 8px;
  transition: transform 0.3s;
  cursor: pointer;
}

.image-ads:hover {
  transform: scale(1.1);
}

.group-container {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.title {
  width: 100%;
  height: 20px;
  font-size: 18px;
  font-weight: 1000;
  display: flex;
  flex-direction: row;
}

.highlight-container {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}

.highlight-sub-container {
  padding: 20px 10px 0;
}

.highlight {
  width: 250px;
  height: 140px;
  border-radius: 8px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s;
  cursor: pointer;
}

.highlight:hover {
  transform: scale(1.1);
}

.highlight-title {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-script {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
