.detail-info-container {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.detail-info-right {
  padding-left: 30px;
  padding-right: 20px;
}

.detail-info-title {
  font-size: 25px;
}

.detail-info-script {
  color: #a2a2a2;
  display: flex;
  flex-direction: row;
}

.link {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
}

.detail-info-price {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.detail-info-price-remaind {
  font-size: 12px;
  color: #f78212;
}

.detail-info-price-container {
  display: flex;
  flex-direction: row;
}

.detail-info-price-final {
  font-size: 28px;
  font-weight: 600;
  color: #0d6094;
}

.detail-info-price-origin {
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  color: #a2a2a2;
  text-decoration: line-through;
}

.detail-button-group-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.detail-button-buy {
  width: 250px;
  height: 40px;
  border-width: 0;
  border-radius: 3px;
  color: white;
  background-color: #0d6094;
  cursor: pointer;
}

.detail-button-buy:hover {
  background-color: #073755;
}

.detail-button-add {
  width: 250px;
  height: 40px;
  border-width: 0;
  border-radius: 3px;
  margin-left: 10px;
  color: white;
  background-color: #d33c44;
  cursor: pointer;
}

.detail-button-add:hover {
  background-color: #921e24;
}

.detail-group-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.group-container-left {
  width: 33%;
  padding: 10px 20px 20px 20px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: white;
}

.group-container-right {
  width: 65%;
  margin-top: 10px;
  margin-left: 2%;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
}

.detail-group-freeship {
  display: flex;
  flex-direction: row;
}

.detail-group-left-freeship {
  height: 25px;
  padding-left: 10px;
  display: flex;
  align-items: flex-end;
  color: #388e3c;
}

.detail-group-policy {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.detail-group-policy-title {
  font-size: 16px;
  font-weight: 500;
}

.group-container-table {
  width: 100%;
}
