.product-list-horizontal {
  display: flex;
  flex-direction: row;
}

.product-list-item-container {
  width: 180px;
  height: 300px;
  margin-right: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  flex-direction: column;
  transition: transform 0.2s;
}

.product-list-item-container:hover {
  transform: scale(1.05);
}

.product-list-item-image {
  width: 180px;
  height: auto;
}

.product-list-item-title {
  width: 100%;
  height: 50%;
  font-size: 12px;
  font-weight: 500;
}

.product-list-item-price-containter {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.product-list-item-price {
  width: 80%;
  font-size: 16px;
  padding-top: 10px;
  color: #0d6094;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
}

.product-list-item-freeship {
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.product-list-item-freeship-icon {
  width: 25px;
  height: 25px;
}

.product-list-item-discount-container {
  display: flex;
  flex-direction: row;
  color: #a2a2a2;
}

.product-list-item-origin-price {
  width: 80%;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  text-decoration: line-through;
}
.product-list-item-discount {
  width: 20%;
  font-size: 12px;
  display: flex;
  font-weight: bolder;
  justify-content: flex-end;
}

.product-sub-container {
  padding: 10px 200px 50px 200px;
  background-color: #f0f0f0;
}
