.product-slideshow {
  width: 100%;
  height: 120px;
  transition: transform 0.3s;
}

.product-slideshow:hover {
  transform: scale(1.2);
}

.product-sub-container {
  padding: 20px 200px 50px 200px;
  background-color: #f0f0f0;
}

.product-filter-container {
  width: 100%;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.product-cate-container {
  display: flex;
  flex-direction: row;
}

.product-cate-name {
  width: 150px;
  font-size: 14px;
  font-weight: 500;
}

.product-cate-container-item {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
}

.product-cate-item {
  padding: 8px 20px 8px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: solid #d2d2d2 1px;
  cursor: pointer;
}

.product-cate-item:hover {
  background-color: #eeeeee;
}

.product-cate-item-select {
  padding: 8px 20px 8px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: solid #137cbd 1px;
  background-color: #137cbd;
  color: white;
  cursor: pointer;
}

.product-sort-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.product-slider-container {
  width: 100%;
  padding-left: 30px;
  padding-right: 20px;
}

.product-sort-item {
  padding: 8px 20px 8px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: solid #d2d2d2 1px;
  cursor: pointer;
}

.product-sort-item:hover {
  background-color: #eeeeee;
}

.product-sort-item-select {
  padding: 8px 20px 8px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: solid #137cbd 1px;
  background-color: #137cbd;
  color: white;
  cursor: pointer;
}

.filter-title {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.filter-clear {
  width: 50%;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.product-see-all {
  width: 100%;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
