.sign-in-container {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-title {
  margin-bottom: 30px;
  font-size: 22px;
}

.sign-in-input {
  width: 400px;
  outline-width: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sign-in-button {
  width: 400px;
  height: 40px;
  border-width: 0;
  border-radius: 3px;
  margin-top: 30px;
  color: white;
  background-color: #394b59;
  cursor: pointer;
}

.sign-in-button:hover {
  background-color: #212b33;
}

.sign-up-button {
  width: 400px;
  height: 40px;
  margin: 20px 0 120px 0;
  border: none;
  border-radius: 3px;
  color: #394b59;
  background-color: #eeeeee;
  cursor: pointer;
}

.sign-up-button:hover {
  color: white;
  background-color: #d33c44;
}

.sign-up-polocy-container {
  width: 400px;
  margin-top: 10px;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}

.sign-up-polocy {
  margin-left: 5px;
  color: #2a62ae;
  text-decoration: underline;
  cursor: pointer;
}
