@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.menu-item {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-icon {
  width: 25px;
  height: auto;
}

.title-mark {
  width: 4px;
  height: 100%;
  margin-right: 10px;
  background-color: #2d2d2d;
}

.navbar-container {
  height: 50px;
  z-index: 200;
}

.speed-dial {
  position: fixed;
  right: 70px;
  bottom: 30px;
}

.error-container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
