.user-sub-container {
  width: 100%;
  min-height: 700px;
  padding: 20px 150px 50px 150px;
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
}

.user-menu-container {
  width: 25%;
}

.user-menu {
  padding: 10px 10px 10px 10px;
  background-color: #f0f0f0;
}

.user-menu-item {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-container {
  width: 78%;
  margin-left: 2%;
  padding: 10px 10px 10px 10px;
}

.user-profile-title {
  font-size: 20px;
}

.user-profile-content-container {
  width: 100%;
  border-radius: 8px;
  padding: 30px 20px 20px 20px;
  background-color: white;
}

.user-profile-input {
  width: 50%;
  margin-bottom: 20px;
}

.user-profile-button {
  border-width: 0;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
  color: white;
  background-color: #394b59;
  cursor: pointer;
}

.user-profile-button:hover {
  background-color: #2f3e49;
}

.user-sale-container {
  width: 78%;
  min-height: 400px;
  margin-left: 2%;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-cart-content-container {
  width: 100%;
  min-height: 500px;
  padding: 20px 40px 20px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.user-cart-table {
  width: 100%;
}

// .user-cart-item-image {
//   width: 200px;
//   height: 100px;
//   border: solid #f0f0f0 1px;
// }

.user-cart-item-name {
  width: 100%;
  height: 100px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.user-cart-item-title {
  font-size: 15px;
  font-weight: 500;
}

.user-cart-item-code {
  color: #a2a2a2;
}

.user-cart-item-price {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user-cart-item-final {
  font-size: 17px;
  font-weight: 500;
  color: #0d6094;
}

.user-cart-item-counter {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-cart-item-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.user-cart-item-check {
  margin-left: 5px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-cart-item-head-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: solid #f0f0f0 1px;
}

.user-cart-item-check {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}

.user-cart-item-button-group {
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.user-cart-button-remove {
  border-width: 0;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
  margin-right: 10px;
  color: #2f3e49;
  background-color: #eeeeee;
  cursor: pointer;
}

.user-cart-button-remove:hover {
  background-color: #d1d1d1;
}

.user-payment-menu-container {
  background-color: #ebf1f5;
}

.user-payment-item-container {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  margin-bottom: 15px;

  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.user-payment-item-image {
  height: 70px;
}

.user-payment-item-name {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  color: #a2a2a2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-payment-item-counter {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #a2a2a2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-payment-item-price {
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  color: #08466d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user-change-pass-old-account {
  width: 100%;
  margin-bottom: 10px;
}

.user-bill-content-container {
  width: 100%;
  padding: 20px 40px 20px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.user-bill-item-container {
  width: 100%;
  margin: 5px 0px 5px 0px;
  display: flex;
  flex-direction: row;
}

.user-bill-item-counter {
  font-weight: 500;
  color: #a2a2a2;
}
